<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>knowledge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/article.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      <div class="masthead">
        <h3 class="muted">Project name</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Downloads</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>d
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>ナレッジ管理</h1>
        <p class="lead">ナレッジの管理として、以下のルールに準拠すること。<br>・登録：エラーコードを正しく記載すること。表現をわかりやすく記載すること。<br>
        ・検索：ナレッジを検索することができます。</p>
        <a href="#inputModal" role="button" class="btn btn-large btn-primary" data-toggle="modal">登録</a>
        <a href="#searchModal" role="button" class="btn btn-large btn-success" data-toggle="modal">検索</a>
      </div>

      <hr>

      <script id="articleTemplate" type="text/template">
        <div class="span4">
          <h3><%= article.title %></h3>
          <p><%= article.content1 %></p><p>
          <a href="#detailModal" id="article-show-button" value=<%- _id %> role="button" class="btn" data-toggle="modal">詳細参照</a>
        </div>
      </script>

      <!-- 登録モーダル -->
      <div id="inputModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">情報登録</h3>
        </div>
        <div class="modal-body">
          <form id="article-data">
            <fieldset>
              <label>入力内容</label>
              <select id='input-category' name="category">
                <option value="default" selected="true">－－　選択してください －－</option>
                <option value="障害情報">障害情報</option>
                <option value="問い合わせ情報">問い合わせ情報</option>
                <option value="技術情報">技術情報</option>
                <option value="共有情報">共有情報</option>
                <option value="ショート情報">ショート情報</option>
                <option value="プロジェクト情報">プロジェクト共有情報</option>
              </select>
              <div id="input-form"></div>
            </fieldset>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">閉じる</button>
          <button id="article-add-button" class="btn btn-primary">登録</button>
        </div>
      </div>

      <!-- 登録フォームテンプレート -->
      <script id="inputFormFailureTemplate" type="text/template">
        <label>タイトル</label>
        <input id='input-title' name="title" type="text" placeholder="タイトルの入力">
        <label>進捗</label>
        <select id='input-progress' name="progress">
          <option value="default" selected="true">－－　選択してください －－</option>
          <option value="未対応">未対応</option>
          <option value="対応中">対応中</option>
          <option value="対応完了"対応完了>技術情報</option>
        </select>        
        <label>エラーコード</label>
        <input id="input-errorCode" name="errorCode" type="text" placeholder="エラーコードの入力">  
        <label>内容１</label>
        <textarea id="input-content1" name="content1" placeholder="概要の入力" rows="3"></textarea>
        <label>内容２</label>
        <textarea id="input-content2" name="content2" placeholder="対応の入力" rows="10"></textarea>
      </script>

      <script id="inputFormQuestionTemplate" type="text/template">
        <label>タイトル</label>
        <input id='input-title' name="title" type="text" placeholder="タイトルの入力">
        <label>進捗</label>
        <select id='input-progress' name="progress">
          <option value="default" selected="true">－－ 選択してください －－</option>
          <option value="未対応">未対応</option>
          <option value="対応中">対応中</option>
          <option value="対応完了"対応完了>技術情報</option>
        </select>         
        <label>内容１</label>
        <textarea id='input-content1' name="content1" rows="3" placeholder="問い合わせ内容の入力"></textarea>
        <label>内容２</label>
        <textarea id='input-content2' name="content2" rows="5" placeholder="問い合わせ対応内容の入力"></textarea>
      </script>

      <script id="inputFormTecTemplate" type="text/template">
        <label>タイトル</label>
        <input id='input-title' name="title" type="text" placeholder="タイトルの入力">
        <label>内容１</label>
        <textarea id='input-content1' name="content1" placeholder="概要内容の入力" rows="3"></textarea>
        <label>内容２</label>
        <textarea id='input-content2'name="content2" placeholder="詳細内容の入力" rows="5"></textarea>
      </script>

      <script id="inputFormComTemplate" type="text/template">
        <label>タイトル</label>
        <input id='input-title' name="title" type="text" placeholder="タイトルの入力">
        <label>内容１</label>
        <textarea id='input-content1' name="content1" placeholder="概要内容の入力" rows="3"></textarea>
        <label>内容２</label>
        <textarea id='input-content2' name="content2" placeholder="詳細内容の入力" rows="5"></textarea>
      </script>

      <script id="inputFormProjectTemplate" type="text/template">
        <label>プロジェクト</label>
        <input id='input-title' name="title" type="text" placeholder="プロジェクト名の入力">
        <label>工程</label>
        <select id='input-progress' name="progress">
          <option value="default" selected="true">－－ 選択してください －－</option>
          <option value="見積もり">見積もり</option>
          <option value="要件定義">要件定義</option>
          <option value="基本設計">基本設計</option>
          <option value="詳細設計">詳細設計</option>
          <option value="開発／単体">開発／単体</option>
          <option value="結合テスト">結合テスト</option>
          <option value="統合テスト">統合テスト</option>
          <option value="本番リリース">本番リリース</option>
        </select>        
        <label>内容１</label>
        <textarea id='input-content1' name="content1" rows="3" placeholder="プロジェクト概要の入力"></textarea>
        <label>内容２</label>
        <textarea id='input-content2' name="content2" rows="5" placeholder="プロジェクト詳細の入力"></textarea>
      </script>

      <script id="inputFormShortTemplate" type="text/template">
        <label>タイトル</label>
        <input id='input-title' name="title" type="text" placeholder="タイトルの入力">
        <label>内容１</label>
        <textarea id='input-content1' name="content1" rows="3" placeholder="メッセージの入力"></textarea>
      </script>

      <!-- 検索モーダル -->
      <div id="searchModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Modal header</h3>
        </div>
        <div class="modal-body">
          <p>One fine body…</p>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          <button class="btn btn-primary">Save changes</button>
        </div>
      </div>

      <!-- 詳細モーダル -->
      <div id="detailModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">詳細画面</h3>
        </div>
        <div class="modal-body">
          <div id="show-detail"></div>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">閉じる</button>
          <button id="article-edit-button" class="btn btn-primary">編集</button>
        </div>
      </div>

      <!-- 詳細フォームテンプレート -->
      <script id="showDetailFailureTemplate" type="text/template">
        <h3>タイトル</h3>
        <p><%- article.title %></p>
        <h3>カテゴリ</h3>
        <p><%- article.category %></p>
        <h3>進捗</h3>
        <p><%- article.progress %></p>
        <h3>エラーコード</h3>
        <p><%- article.errorCode %></p>
        <h3>内容１</h3>
        <p><%- article.content1 %></p>
        <h3>内容２</h3>
        <p><%- article.content2 %></p>        
      </script>

      <script id="showDetailQuestionTemplate" type="text/template">
        <label>タイトル</label>
        <input id='input-title' name="title" type="text" placeholder="タイトルの入力">
        <label>進捗</label>
        <select id='input-progress' name="progress">
          <option value="default" selected="true">－－ 選択してください －－</option>
          <option value="未対応">未対応</option>
          <option value="対応中">対応中</option>
          <option value="対応完了"対応完了>技術情報</option>
        </select>         
        <label>内容１</label>
        <textarea id='input-content1' name="content1" rows="3" placeholder="問い合わせ内容の入力"></textarea>
        <label>内容２</label>
        <textarea id='input-content2' name="content2" rows="5" placeholder="問い合わせ対応内容の入力"></textarea>
      </script>

      <script id="showDetailTecTemplate" type="text/template">
        <label>タイトル</label>
        <input id='input-title' name="title" type="text" placeholder="タイトルの入力">
        <label>内容１</label>
        <textarea id='input-content1' name="content1" placeholder="概要内容の入力" rows="3"></textarea>
        <label>内容２</label>
        <textarea id='input-content2'name="content2" placeholder="詳細内容の入力" rows="5"></textarea>
      </script>

      <script id="showDetailComTemplate" type="text/template">
        <h3>カテゴリ</h3>
        <p><%- article.category %></p>
        <h3>タイトル</h3>
        <p><%- article.title %></p>
        <h3>内容１</h3>
        <p><%- article.content1 %></p>
        <h3>内容２</h3>
        <p><%- article.content2 %></p>  
      </script>

      <script id="showDetailProjectTemplate" type="text/template">
        <label>プロジェクト</label>
        <input id='input-title' name="title" type="text" placeholder="プロジェクト名の入力">
        <label>工程</label>
        <select id='input-progress' name="progress">
          <option value="default" selected="true">－－ 選択してください －－</option>
          <option value="見積もり">見積もり</option>
          <option value="要件定義">要件定義</option>
          <option value="基本設計">基本設計</option>
          <option value="詳細設計">詳細設計</option>
          <option value="開発／単体">開発／単体</option>
          <option value="結合テスト">結合テスト</option>
          <option value="統合テスト">統合テスト</option>
          <option value="本番リリース">本番リリース</option>
        </select>        
        <label>内容１</label>
        <textarea id='input-content1' name="content1" rows="3" placeholder="プロジェクト概要の入力"></textarea>
        <label>内容２</label>
        <textarea id='input-content2' name="content2" rows="5" placeholder="プロジェクト詳細の入力"></textarea>
      </script>

      <script id="showDetailShortTemplate" type="text/template">
        <h3>カテゴリ</h3>
        <p><%- article.category %></p>
        <h3>タイトル</h3>
        <p><%- article.title %></p>
        <h3>内容１</h3>
        <p><%- article.content1 %></p>
      </script>


      <!-- Example row of columns -->
      <div id="knowledge"></div>
      <hr>

      <div class="footer">
        <p>&copy; Company 2014</p>
      </div>

    </div> <!-- /container -->
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/lib/jquery-2.1.1.js"></script>
    <script src="js/lib/bootstrap.js"></script>
  	<script src="js/lib/Underscore.js"></script>
  	<script src="js/lib/backbone.js"></script>
  	<script src="js/article.model.js"></script>
    <script src="js/article.collection.js"></script>
    <script src="js/article.view.js"></script>
    <script src="js/article.app.js"></script>
  </body>
</html>
